{"openapi":"3.1.0","info":{"title":"ProChat Workbench API","version":"4.0.0","description":"ProChat Workbench connects ChatGPT to guarded local project tools. Each action is bounded by a short Workbench deadline and returns compact structured JSON before platform timeouts."},"servers":[{"url":"https://workbench.prochat.tools"}],"components":{"schemas":{},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","description":"Bearer credential for Custom GPT Actions. Use the owner deployment Workbench Action Token. Do not use the scoped wbmcp_v1_ MCP credential, which is reserved for MCP authentication flows."}}},"paths":{"/api/actions/status":{"get":{"operationId":"getWorkbenchStatus","summary":"Authoritative Workbench status and resume check","description":"Read-only Workbench health, discovery, and resume state. Use include=active only for resume, continue, or current state requests; use include=sources only for explicit source discovery. It does not start execution. For known repository content, call readWorkbenchContext directly.","x-openai-isConsequential":false,"security":[{"bearerAuth":[]}],"parameters":[{"name":"include","in":"query","schema":{"type":"string","enum":["sources","active","all"]},"description":"For resume/current-state intent, use active. Use sources only for explicit source discovery; use all only when both are explicitly needed. The Action is read-only and does not start or resume execution."}],"responses":{"200":{"description":"Status with optional context (max 8 KB response)","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":true}}}}}}},"/api/actions/read-context":{"post":{"operationId":"readWorkbenchContext","summary":"Bounded repo context read with an 8s Workbench deadline","description":"Read bounded repository content/context. For known source IDs, call directly with that exact source and skip status. Prefer prepare_task_context for ordinary exploratory/multi-file work; use focused modes for known paths/symbols. Never use runWorkbenchCommand as a generic content preflight.","x-openai-isConsequential":false,"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"mode":{"type":"string","enum":["prepare_task_context","read_paths","search_and_read","list_files","search","grep_context","read_range","read_symbol","graph_context"],"description":"Mode: prefer prepare_task_context for ordinary exploratory or multi-file work; it returns navigationEvidence and exactEvidence in one bounded packet. Use graph_context for explicit structure, exact modes for known paths/symbols. Persistent workflows use Workbench lifecycle."},"sourceId":{"type":"string","description":"Required exact enabled source ID. Workbench Private maps to prochattools-workbench; resolve other labels to an exact enabled ID. If unknown, discover once with getWorkbenchStatus include=sources. Never substitute another repository or use placeholders such as default, workspace, current, or repo."},"paths":{"type":"array","items":{"type":"string"},"maxItems":5,"description":"At most 5 exact repo-relative paths for GPT use. For read_paths, enforced; for search_and_read, used as filter."},"query":{"type":"string","maxLength":200,"description":"Concrete task goal or search query. Broad unscoped queries (\"all\", \"repo\", \"code\") fail fast with narrower-mode guidance. For graph_context, ranks fresh Codebase Memory files and symbols. For search modes, must be specific (e.g., \"function name\", \"error message pattern\")."},"path":{"type":"string","description":"Folder for list_files, or exact repo-relative file path for grep_context/read_range/read_symbol."},"pattern":{"type":"string","maxLength":500,"description":"Literal pattern for grep_context. Regex is opt-in and tightly bounded; use literal mode for safety."},"regex":{"type":"boolean","description":"If true, interpret pattern as a regular expression. Defaults to literal matching."},"before":{"type":"integer","minimum":0,"maximum":40,"description":"Lines before each grep_context match. Defaults to 8. Higher values = slower response."},"after":{"type":"integer","minimum":0,"maximum":60,"description":"Lines after each grep_context match. Defaults to 12. Higher values = slower response."},"maxMatches":{"type":"integer","minimum":1,"maximum":10,"description":"Maximum grep_context matches. Defaults to 5. Higher values = slower response."},"startLine":{"type":"integer","minimum":1,"description":"First line for read_range. Output is capped at 250 lines to stay under 8s deadline."},"endLine":{"type":"integer","minimum":1,"description":"Last line for read_range. Output is capped at 250 lines to stay under 8s deadline."},"symbol":{"type":"string","description":"TypeScript class/function/const symbol for read_symbol. Fastest when symbol name is exact."},"depth":{"type":"integer","minimum":1,"maximum":5},"limit":{"type":"integer","minimum":1,"maximum":5,"description":"Search/list result limit. Defaults to 5. Keep at 1-5 to finish under 8s deadline."},"maxBytesPerFile":{"type":"integer","minimum":1000,"maximum":4000,"description":"Exact read byte cap per file. Defaults to 4000. Files over 100 KB: use grep_context or read_range instead. Larger values slow down JSON serialization."}},"required":["mode","sourceId"]}}}},"responses":{"200":{"description":"Files or search results (bounded to the GPT action payload limit)","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":true}}}}}}},"/api/actions/apply-file-change":{"post":{"operationId":"applyWorkbenchFileChange","summary":"Guarded file change with an 8s Workbench deadline","description":"Guarded file operations only. Lifecycle state, packets, leases, and continuation state are managed through supported Workbench lifecycle mechanisms.","x-openai-isConsequential":false,"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"sourceId":{"type":"string","description":"Required exact enabled source ID. Workbench Private maps to prochattools-workbench; resolve other labels to an exact enabled ID. If unknown, discover once with getWorkbenchStatus include=sources. Never substitute another repository or use placeholders such as default, workspace, current, or repo."},"changeType":{"type":"string","enum":["create","overwrite","patch","append","delete_file","move","create_run","resume_run","close_run"],"description":"File mutation or bounded Workbench run-lifecycle operation."},"path":{"type":"string","description":"Repo-relative path for file operations."},"content":{"type":"string","description":"Full file content for create/overwrite, appended text for append"},"find":{"type":"string","description":"Exact string to find for patch changeType"},"replace":{"type":"string","description":"Replacement string for patch changeType"},"allowMultiple":{"type":"boolean","description":"For patch only, replace every identical match. Defaults to false."},"to":{"type":"string","description":"Destination path for move changeType"},"reason":{"type":"string","description":"Why this change is being made (logged for audit)"},"confirmedByUser":{"type":"boolean","description":"Only set true when the user explicitly approved a confirmation-gated delete or write."},"confirmationToken":{"type":"string","description":"Backend-issued confirmation token for confirmation-gated file changes."},"dryRun":{"type":"boolean","description":"If true, validates the write policy without writing. Use to check if a path is allowed before writing."},"goal":{"type":"string","maxLength":4000,"description":"Complete bounded local goal for create_run. Include scope, expected outcome, constraints, validation, and explicit commit intent."},"documentationPath":{"type":"string","maxLength":400,"description":"Optional repo-relative handoff path for create_run."},"maxIterations":{"type":"integer","minimum":1,"maximum":20,"description":"Optional bounded run iteration limit for create_run."},"autoCommit":{"type":"boolean","description":"For create_run, enable only when the user explicitly requests an exact scoped commit."},"runId":{"type":"string","minLength":1,"maxLength":200,"description":"Exact durable Workbench run ID for resume_run or close_run; never infer it."},"summary":{"type":"string","maxLength":4000,"description":"Required terminal summary for close_run."},"goalDispatch":{"type":"object","additionalProperties":false,"description":"One durable bounded goal packet. For a read-only goal set readOnly=true, provide bounded reads or commands, and set steps to []; for implementation include bounded mutation steps. Workbench performs the permitted reads, edits, validation, and explicitly authorized commit locally; do not issue per-command Actions.","properties":{"version":{"type":"integer","enum":[1]},"expectedOutcome":{"type":"string","minLength":1,"maxLength":500},"scope":{"type":"array","maxItems":20,"items":{"type":"string","maxLength":240},"description":"Bounded repository-relative scope: exact files or directory prefixes for this goal."},"knownFiles":{"type":"array","maxItems":20,"items":{"type":"string","maxLength":240},"description":"Optional files already known to be relevant."},"knownSymbols":{"type":"array","maxItems":20,"items":{"type":"string","maxLength":240},"description":"Optional symbols already known to be relevant."},"constraints":{"type":"array","maxItems":12,"items":{"type":"string","maxLength":240},"description":"Bounded safety or implementation constraints."},"nonGoals":{"type":"array","maxItems":12,"items":{"type":"string","maxLength":240},"description":"Explicit work that must not be performed."},"stopConditions":{"type":"array","maxItems":8,"items":{"type":"string","maxLength":240},"description":"Conditions that stop local execution and produce a blocker."},"confirmationPolicy":{"type":"string","enum":["none","single_exact"]},"confirmedByUser":{"type":"boolean","description":"Set true only when the user explicitly approved the exact goal scope and commit scope."},"terminalResult":{"type":"object","additionalProperties":false,"properties":{"style":{"type":"string","enum":["natural_language"]},"include":{"type":"array","minItems":1,"maxItems":6,"items":{"type":"string","enum":["summary","changed_files","validation","commit","warnings","blocker"]}}},"required":["style","include"]},"reads":{"type":"array","maxItems":5,"items":{"type":"object","additionalProperties":false,"properties":{"mode":{"type":"string","enum":["read_range","read_symbol","grep_context"]},"path":{"type":"string","pattern":"^(?!/)(?!.*(?:^|/)..(?:/|$)).+","description":"Repository-relative path inside the exact Workbench source."},"pattern":{"type":"string","maxLength":500},"regex":{"type":"boolean"},"symbol":{"type":"string","maxLength":180},"startLine":{"type":"integer","minimum":1},"endLine":{"type":"integer","minimum":1},"before":{"type":"integer","minimum":0,"maximum":40},"after":{"type":"integer","minimum":0,"maximum":60},"maxMatches":{"type":"integer","minimum":1,"maximum":10}},"required":["mode","path"]}},"commands":{"type":"array","maxItems":3,"items":{"type":"object","additionalProperties":false,"properties":{"commandKind":{"type":"string","enum":["git_status_short","git_diff_name_only","git_log_latest","run_exact_command"]},"executable":{"type":"string","enum":["rg"]},"args":{"type":"array","maxItems":24,"items":{"type":"string","maxLength":240},"description":"For rg searches, use exact knownFiles as search paths whenever they are available; do not search whole scope directories because -m is per file and does not cap total output. Include -m 1 and --max-columns 200 before the pattern and search paths."},"timeoutMs":{"type":"integer","minimum":1000,"maximum":12000}},"required":["commandKind"]}},"readOnly":{"type":"boolean","description":"Set true for a read-only goal. Read-only goals may and normally should use steps: [] when bounded reads or commands provide the work."},"steps":{"type":"array","maxItems":5,"description":"Required packet step array. Use [] for a read-only goal; otherwise include only bounded mutation steps inside scope.","items":{"type":"object","additionalProperties":false,"properties":{"type":{"type":"string","enum":["create","overwrite","patch","append","delete_file","move"]},"path":{"type":"string","pattern":"^(?!/)(?!.*(?:^|/)..(?:/|$)).+","description":"Repository-relative path inside the exact Workbench source."},"to":{"type":"string","pattern":"^(?!/)(?!.*(?:^|/)..(?:/|$)).+","description":"Repository-relative path inside the exact Workbench source."},"content":{"type":"string","maxLength":300000},"find":{"type":"string","maxLength":100000},"replace":{"type":"string","maxLength":100000}},"required":["type","path"]}},"validation":{"type":"array","maxItems":3,"items":{"type":"object","additionalProperties":false,"properties":{"commandKind":{"type":"string","enum":["git_diff_check","type_check_web","type_check_cli","validate_json_files","security_scan_paths","run_package_script","run_package_test","run_package_test_marker"]},"timeoutMs":{"type":"integer","minimum":1000,"maximum":900000},"paths":{"type":"array","maxItems":50,"items":{"type":"string","pattern":"^(?!/)(?!.*(?:^|/)..(?:/|$)).+","description":"Repository-relative path inside the exact Workbench source."}},"packageDir":{"type":"string","pattern":"^(?!/)(?!.*(?:^|/)..(?:/|$)).+","description":"Repository-relative path inside the exact Workbench source."},"scriptName":{"type":"string","maxLength":120},"marker":{"type":"string","maxLength":200},"patternSet":{"type":"string","enum":["forbidden_runtime_execution","forbidden_secret_material","forbidden_upload_network","forbidden_all_high_risk"]}},"required":["commandKind"]}},"commit":{"type":"object","additionalProperties":false,"properties":{"enabled":{"type":"boolean"},"authorized":{"type":"boolean","description":"Required true for a goal-level commit."},"message":{"type":"string","maxLength":200},"body":{"type":"string","maxLength":1000}},"required":["enabled"]},"pushIntent":{"type":"string","enum":["not_requested","explicitly_authorized"],"description":"Recorded only; pushing is never performed by the goal packet."}},"required":["version","expectedOutcome","scope","confirmationPolicy","terminalResult","steps"]}},"required":["sourceId","changeType"]}}}},"responses":{"200":{"description":"Write result with verification","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":true}}}}}}},"/api/actions/commit-changes":{"post":{"operationId":"commitWorkbenchChanges","summary":"Diff, stage explicit paths, and commit within 10s","description":"Three-step operation inside an active Workbench run session: git diff → git add paths → git commit. Use the exact sessionId returned by the run lifecycle and specific paths only; never commit everything at once. Confirmation-gated operations may require a second prompt with the returned token.","x-openai-isConsequential":false,"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"sessionId":{"type":"string","minLength":1,"maxLength":200,"description":"Exact active session ID returned by the Workbench run lifecycle. Never infer it from sourceId."},"sourceId":{"type":"string","description":"Required exact enabled source ID. Workbench Private maps to prochattools-workbench; resolve other labels to an exact enabled ID. If unknown, discover once with getWorkbenchStatus include=sources. Never substitute another repository or use placeholders such as default, workspace, current, or repo."},"paths":{"type":"array","items":{"type":"string"},"minItems":1,"maxItems":50,"description":"Specific files to stage — never commit everything at once"},"message":{"type":"string","description":"Commit message, e.g. \"fix: normalize path in read-context route\""},"confirmedByUser":{"type":"boolean","description":"Only set true when committing a confirmation-gated exact-path change the user explicitly approved."},"confirmationToken":{"type":"string","description":"Backend-issued confirmation token for confirmation-gated commits."}},"required":["sessionId","sourceId","paths","message"]}}}},"responses":{"200":{"description":"Diff proof + commit result","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":true}}}}}}},"/api/actions/run-command":{"post":{"operationId":"runWorkbenchCommand","summary":"Run or track allowlisted command with a 12s GPT cap","description":"Run allowlisted commands or validation jobs in an active session. Use only for explicit execution, validation, or evidence—not generic repository/content preflight. Submit returns resultRef; status pages results; evidence is redacted and owner-authorized; cancel requests cancellation.","x-openai-isConsequential":false,"security":[{"bearerAuth":[]}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","additionalProperties":false,"properties":{"version":{"type":"integer","enum":[2],"description":"Strict session-aware command envelope version."},"sessionId":{"type":"string","minLength":1,"maxLength":200,"description":"Exact active session ID returned by the Workbench run lifecycle. Never derive it from sourceId or invent one."},"command":{"type":"object","additionalProperties":false,"properties":{"sourceId":{"type":"string","minLength":1,"pattern":"^(?!default$|workspace$|current$|repo$).+","description":"Required exact enabled source ID locked to sessionId. Workbench Private maps to prochattools-workbench; resolve other labels to an exact enabled ID. Never substitute another repository or use placeholders such as default, workspace, current, or repo."},"commandKind":{"type":"string","enum":["git_status_short","git_diff_stat","git_diff_name_only","git_diff","git_log_latest","git_branch_current","type_check_web","type_check_cli","git_diff_cached_stat","git_diff_cached_name_only","git_add_paths","git_commit","validate_json_files","run_package_script","run_package_test","run_package_test_marker","security_scan_paths","diagnose_performance","run_exact_command","n8n_workflow_export","n8n_workflow_migration","read_evidence","run_repo_shell"],"description":"Command kind. Use run_repo_shell for explicit normal repository tooling under the owner-scoped source boundary; use named kinds or run_exact_command for fixed contracts. Do not use commands as a generic content/status preflight; use readWorkbenchContext for repository content."},"validationJobOperation":{"type":"string","enum":["submit","status","cancel","evidence"],"description":"Submit, inspect, page, cancel, or explicitly retrieve a bounded redacted evidence record. Evidence retrieval requires the active session and matching owner proof; an evidenceId alone never grants raw access."},"validationJobId":{"type":"string","description":"Stable persisted validation job ID and durable resultRef returned by submit. Reuse it for status, result paging, cancellation, and retry reconciliation."},"validationJobTimeoutMs":{"type":"integer","minimum":1000,"maximum":900000,"description":"Bounded persisted validation runtime. This is independent from the short GPT-facing HTTP timeout."},"idempotencyKey":{"type":"string","maxLength":200,"description":"Stable submission key. Reusing it returns the same job; conflicting commands are rejected."},"runId":{"type":"string","description":"Optional persistent Workbench run linked to the validation job."},"packetId":{"type":"string","description":"Optional Workbench packet linked to the validation job."},"taskId":{"type":"string","description":"Optional persistent run task linked to the validation job."},"executable":{"type":"string","enum":["node","pnpm","rg"],"description":"Allowlisted executable for run_exact_command. Use only for explicitly allowlisted repository-supported deterministic operations. Never bypass Workbench commands, access secrets, install software, or perform unrestricted execution. Direct rg searches use structured argv with shell disabled."},"args":{"type":"array","items":{"type":"string"},"description":"Exact argument array for run_exact_command. Raw shell strings are not accepted; arguments remain structured, allowlisted, and session-bound."},"nodeVersion":{"type":"string","enum":["20"],"description":"Require execution under an installed Node 20 runtime."},"policy":{"type":"object","additionalProperties":false,"properties":{"denyDatabaseCommands":{"type":"boolean"},"denyMigrationCommands":{"type":"boolean"},"denyDeploymentCommands":{"type":"boolean"},"denyNetworkCommands":{"type":"boolean"}}},"protectedPaths":{"type":"array","items":{"type":"string"},"description":"Repository-relative paths that must not change during execution."},"requiredBranch":{"type":"string","description":"Exact branch required before command execution. BuildFlow never switches branches automatically."},"networkAccess":{"type":"boolean","description":"Validation commands default to no network access; n8n_workflow_export and migration prepare require true only for their fixed controlled operations."},"workflowId":{"type":"string","description":"Fixed workflow identifier for n8n_workflow_export."},"outputPath":{"type":"string","description":"Fixed repository-relative rollback artifact path for n8n_workflow_export."},"migration":{"type":"object","additionalProperties":false,"description":"Importer-safe migration projection. Runtime validation remains authoritative: it accepts only strict prepare, execute, or status combinations and rejects invalid field combinations.","properties":{"mode":{"type":"string","enum":["apply","rollback"]},"phase":{"type":"string","enum":["prepare","execute","status"]},"workflowId":{"type":"string"},"candidatePath":{"type":"string"},"rollbackPath":{"type":"string"},"manifestPath":{"type":"string"},"operationId":{"type":"string"},"confirmationToken":{"type":"string"},"networkAccess":{"type":"boolean"}}},"paths":{"type":"array","items":{"type":"string"},"maxItems":50},"message":{"type":"string"},"body":{"type":"string"},"remote":{"type":"string"},"branch":{"type":"string"},"scriptName":{"type":"string"},"marker":{"type":"string","description":"Test marker for run_package_test_marker. Shell metacharacters are rejected by the backend."},"patternSet":{"type":"string","enum":["forbidden_runtime_execution","forbidden_secret_material","forbidden_upload_network","forbidden_all_high_risk"],"description":"Named security scan set for security_scan_paths."},"packageDir":{"type":"string","description":"Required for run_package_script, run_package_test, and run_package_test_marker. Use \".\" for the selected source root."},"confirmedByUser":{"type":"boolean","description":"Only use when the user explicitly confirmed a confirmation-gated safe command."},"confirmationToken":{"type":"string","description":"Backend-issued confirmation token for confirmation-gated safe commands."},"timeoutMs":{"type":"integer","minimum":1000,"maximum":12000,"description":"GPT-facing command timeout. Defaults to 5-8s and is capped well below the external action timeout."},"resultStream":{"type":"string","enum":["stdout","stderr"],"description":"For validationJobOperation=status, select the persisted redacted output stream to page."},"resultCursor":{"type":"string","maxLength":2000,"description":"Opaque source- and resultRef-bound continuation cursor returned by a prior result page. Omit to start at byte offset 0."},"resultPageBytes":{"type":"integer","minimum":256,"maximum":4000,"description":"Bounded UTF-8 result window size for validation status, capped at 4000 bytes so the complete action remains under the 8 KiB response budget."},"cancelReason":{"type":"string","minLength":1,"maxLength":500,"description":"Optional audit-safe reason for validationJobOperation=cancel."},"evidenceId":{"type":"string","minLength":5,"maxLength":164,"pattern":"^evd-[A-Za-z0-9][A-Za-z0-9._:@-]{0,159}$","description":"Opaque evidence reference returned in metadata. It is not a bearer credential and must be paired with the active session and matching owner authorization."},"evidenceOwner":{"type":"object","additionalProperties":false,"description":"Optional owner binding copied from the returned metadata to prove task, packet, request, operation, provider, run, or session identity.","properties":{"sessionId":{"type":"string","minLength":1,"maxLength":160},"runId":{"type":"string","minLength":1,"maxLength":160},"taskId":{"type":"string","minLength":1,"maxLength":160},"packetId":{"type":"string","minLength":1,"maxLength":160},"requestId":{"type":"string","minLength":1,"maxLength":160},"operationId":{"type":"string","minLength":1,"maxLength":160},"providerId":{"type":"string","minLength":1,"maxLength":160}}},"evidenceCursor":{"type":"string","minLength":1,"maxLength":2000,"description":"Opaque evidence continuation cursor. Reuse it with the same evidenceId and session; omit it to start at byte offset 0."},"evidencePageBytes":{"type":"integer","minimum":256,"maximum":4000,"description":"Bounded UTF-8 evidence page size. Pages are redacted, integrity-checked, and capped at 4000 bytes."},"command":{"type":"string","maxLength":4000,"description":"Bounded shell command for normal owner-scoped repository work. Runs only within the selected source root or authorized temporary directory; pipelines, chaining, globs, and safe redirects are supported. High-risk system, secret, destructive Git, recursive-delete, and implicit network operations are blocked."}},"required":["sourceId","commandKind"]}},"required":["version","sessionId","command"],"description":"Run owner-scoped repository shell commands or track durable validation jobs in an active session. Shell access is bounded, redacted, source-root contained, and denied for high-risk operations. Submit returns resultRef; status returns compact state or result pages; evidence returns a redacted page after explicit session/owner authorization. Heartbeats and SSE are unsupported."}}}},"responses":{"200":{"description":"Command result","content":{"application/json":{"schema":{"type":"object","properties":{},"additionalProperties":true}}}}}}}}}
